@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');
body {         
    font-family: 'Merriweather', serif;
    justify-content: center;
    line-height: 1.6;
    padding: 40px;
    display: flex;
    margin: 0;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
}
img.emoji {
    vertical-align: -0.2em;
    height: 1.2em;
    width: 1.2em;
}
main {
    border-radius: 32px;
    max-width: 800px;
    padding: 30px;
}
h2 {
    padding-bottom: 10px;
    margin-top: 30px;
}
a {
    color: inherit;
    text-decoration: none;
}
hr {
    margin: 20px 0;
    height: 2px;
    border: 0;
}
footer {
    text-align: center;
    margin-top: 40px;
    font-size: 0.9em;
}
.teysusaur {
    animation: walk 64s linear infinite;
    position: fixed;
    z-index: 1000;
    width: 120px;
    bottom: -4px;
}
.teysusaur img {
    display: block;
    width: 100%;
}
@keyframes tremor {
    0% { transform: translate(0, 0); }
    20% { transform: translate(-5px, 5px); }
    40% { transform: translate(5px, -5px); }
    60% { transform: translate(-5px, -5px); }
    80% { transform: translate(5px, 5px); }
    100% { transform: translate(0, 0); }
}
@keyframes walk {
    0% {
      left: -120px;
    }
    100% {
      left: 100vw;
    }
}
@media (max-width: 768px) {
    body {
        padding: 0px;
    }
    .teysusaur {
        animation: walk 32s linear infinite;
        width: 78px;
    }
    main {
        padding-right: 12px;
        border-radius: 0px;
        padding-left: 12px;
    }
    h1 {
        font-size: 25px;
    }
    h2 {
        font-size: 21px;
    }
    p {
       font-size: 17px;
    }
}
@media (prefers-color-scheme: light) {
    body {
    background-color: #faf8fd;
    color: #000000;    
    }
    main {
    background-color: #eeedf6; 
    }
    hr {
    background: #333;
    }
    footer {
    color: #888;
    }
}
@media (prefers-color-scheme: dark) {
    body {
    background-color: #0d0e12;
    color: #ffffff;    
    }
    main {
    background-color: #181920; 
    }
    hr { 
    background: #ccc;
    }
    footer {
    color: #bbb;
    }
}