@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');
* {
    box-sizing: border-box;
    text-decoration: none;
    color: inherit;
    padding: 0;
    margin: 0;
}
img.emoji {
  height: 1em;
  width: 1em;
  vertical-align: -0.1em;
}
body {
    font-family: 'Merriweather', serif;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 18px;
    padding-top: 26px;
    margin-bottom: 8px;
}
section {
    padding: 18px;
    margin-bottom: 8px;
}
h1 {
    margin-bottom: 8px;
}
h2 {
    margin-bottom: 8px;
}
footer {
    padding: 18px;
}
.companion-container {
  position: fixed;
  bottom: 0;
  width: 50px;
  height: 50px;
  animation: walk 18s linear infinite;
  z-index: 9999;
}
@keyframes walk {
  0% {
    left: -120px;
  }
  100% {
    left: 100vw;
  }
}
@media (prefers-color-scheme: light) {
    body {
        background-color: #ffffff;
    }
    header, footer, section {
        background-color: #f0f0f0;
        color: #000000;
    }
}
@media (prefers-color-scheme: dark) {
    body {
        background-color: #000000;
    }
    header, footer, section {
        background-color: #0f0f0f;
        color: #ffffff;
    }
}